<template>
    <div>
        <main>
            <div class="columns">
                <sidebar></sidebar>
                <div class="column" >
                    <navbar style="margin: -10px"></navbar>
                    <section style="margin: 20px">
                        asdfs
                    </section>
                </div>
            </div>
            <router-view></router-view>
        </main>
    </div>
</template>
<script>
    import Navbar from "../components/Navbar";
    import Sidebar from "../components/SideBar";

    export default {
        components: {
            'navbar': Navbar,
            'sidebar': Sidebar
        }, 
        mounted() {

        }
    }
</script>
