<template>
    <div>
        <main>
            <div class="columns">
              
              
                
                    <section style="margin: 20px">
                        películas
                    </section>
              
            </div>
            <router-view></router-view>
        </main>
    </div>
</template>
<script>
   
    export default {
     
        mounted() {

        }
    }
</script>
