<template>
    <div>
    <nav class="navbar">
    <div class="navbar-brand">
    
    <div class="navbar-burger burger" data-target="navMenu">
    <span></span>
    <span></span>
    <span></span>
    </div>
    </div>
    <div id="navMenu" class="navbar-menu">
    <div class="navbar-end centered">
        <a class="navbar-item" href="#">
            <span class="panel-icon">
                <i class="fa fa-user"></i>
            </span>
        </a>
        <a class="navbar-item" href="#">
          <span class="panel-icon">
                 <i class="fa fa-power-off">sdfgd</i>
          </span>
        </a>        
    </div>
          </div>
    </nav>
    </div>
</template>