<template>
    <aside class="column is-2 is-hidden-mobile">
            <div class="panel">
                <div id="cde">
                    <p class="panel-heading has-text-centered"><b>Admin</b></p>
                </div>
                <a class="panel-block" href="home.html">                            
                            <span class="panel-icon">
                                <i class="fa fa-home"></i>
                            </span>
                            <span class="name">Inicio</span>
                </a>
                <a class="panel-block" href="tables.html">
                    <span class="panel-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <span class="name">Mesas</span>
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-th-list"></i>
                    </span>
                    <span class="name">Ventas</span>
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-list"></i>
                    </span>
                    <span class="name">Gastos</span>
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-list"></i>
                    </span>
                    <span class="name">Productos</span>
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <span class="name">Categorías</span>
                </a>
            </div>
        </aside>
</template>